POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<db-name>
DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<db-name>

PORT=<number>
BETTER_AUTH_URL=<host>:<port>
BETTER_AUTH_SECRET=<secret>

ADMIN_USERNAME=<admin-username>
ADMIN_PASSWORD=<admin-password>
ADMIN_EMAIL=<admin-email>
SKIP_ADMIN_IF_EXISTS=<true|false>
NODE_ENV=<development|production>

BOT_BASE_URL=<host>:<port>
